<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% if entry.start_date %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{ entry.start_date | split: '-' | slice: 0, 1 | join: '' }}
                    </span>
                  </td>
                </tr>
                {% if entry.end_date %}
                  <tr>
                    <td>
                      <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px; margin-top: 2px;">
                        {{ entry.end_date | split: '-' | slice: 0, 1 | join: '' }}
                      </span>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% if entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
            {% endif %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem;">
              {% if entry.role and entry.role != '' %}
                <span class="badge bg-primary bg-opacity-75 font-weight-light me-2">{{ entry.role }}</span>
              {% endif %}
              {% if entry.institution and entry.institution != '' %}
                {{ entry.institution | markdownify | remove: '<p>' | remove: '</p>' }}
              {% endif %}
            </div>
          </div>
        {% elsif entry.date %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{ entry.date | split: '-' | slice: 0, 1 | join: '' }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% if entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
            {% endif %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem;">
              {% if entry.role and entry.role != '' %}
                <span class="badge bg-primary bg-opacity-75 font-weight-light me-2">{{ entry.role }}</span>
              {% endif %}
              {% if entry.institution and entry.institution != '' %}
                {{ entry.institution | markdownify | remove: '<p>' | remove: '</p>' }}
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            {% if entry.name %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.name }}</h6>
            {% endif %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem;">
              {% if entry.role and entry.role != '' %}
                <span class="badge bg-primary bg-opacity-75 font-weight-light me-2">{{ entry.role }}</span>
              {% endif %}
              {% if entry.institution and entry.institution != '' %}
                {{ entry.institution | markdownify | remove: '<p>' | remove: '</p>' }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
