<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row">
        {% if entry.date %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{ entry.date | date: "%Y-%m" }}
                    </span>
                    {% if entry.type %}
                      <br>
                      <span class="badge bg-primary bg-opacity-75 font-weight-light align-middle" style="min-width: 75px; margin-top: 2px;">
                        {{ entry.type }}
                      </span>
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
            {% if entry.url and entry.url != '' %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">{{ entry.title }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
            {% endif %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem;">
              {% if entry.conference and entry.conference != '' %}
                {% capture conf %}{{ entry.conference | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
                {{ conf | replace: '<a ', '<a style="color:inherit;" ' }}
              {% endif %}
              {% if entry.conference and entry.conference != '' and entry.location and entry.location != '' %}
                &middot;
              {% endif %}
              {% if entry.location and entry.location != '' %}
                {% capture loc %}{{ entry.location | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
                {{ loc | replace: '<a ', '<a style="color:inherit;" ' }}
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
              {% if entry.type %}
                <span class="badge bg-primary bg-opacity-75 font-weight-light me-2">{{ entry.type }}</span>
              {% endif %}
            </div>
            {% if entry.url and entry.url != '' %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">{{ entry.title }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
            {% endif %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem;">
              {% if entry.conference and entry.conference != '' %}
                {% capture conf %}{{ entry.conference | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
                {{ conf | replace: '<a ', '<a style="color:inherit;" ' }}
              {% endif %}
              {% if entry.conference and entry.conference != '' and entry.location and entry.location != '' %}
                &middot;
              {% endif %}
              {% if entry.location and entry.location != '' %}
                {% capture loc %}{{ entry.location | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
                {{ loc | replace: '<a ', '<a style="color:inherit;" ' }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
